<html>
  <head>
            <script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
          <script type="text/javascript" src="/static/jquery-3.2.1.maphlight.min.js"></script>
    <script type="text/javascript" src="/static/Chart.bundle.js"></script>


    <meta charset="UTF-8">
    <title>Downloading</title>
    <link rel="stylesheet" href="/static/psst.css" type="text/css">
  </head>

  <body>
  Download File Here <a href="/static{{link}}">HERE</a>

   Download File Here <a href="/test1.csv">HERE</a>
  </body>
</html>
